body {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
body {
 background-image: url("Green.png");
 min-height: 600px;
 background-size: cover;
 background-position: center center;

}
